#culture-section {
  text-align: center;
  margin: 0 140px;
}

#culture-section>p {
  font-size: 22px;
  color: var(--secondary-gray-color);
}

.testimonial-container {
  display: flex;
  margin-top: 50px;
}

.testimonial-container>.testimonial-one,
.testimonial-container>.testimonial-two,
.testimonial-container>.testimonial-three {
  text-align: left;
  padding: 0 20px;
}

.testimonial-container>.testimonial-one>p,
.testimonial-container>.testimonial-two>p,
.testimonial-container>.testimonial-three>p {
  color: var(--secondary-gray-color);
  font-size: 18px;
}

.testimonial-container>.testimonial-one>h3,
.testimonial-container>.testimonial-two>h3,
.testimonial-container>.testimonial-three>h3 {
  color: var(--secondary-blue-color);
  font-size: 21px;
}

.testimonial-image-container {
  height: 80px;
  width: 80px;
  background-color: var(--primary-gray-color);
  border-radius: 50%;
  background-image: url('../images/avatar.svg');
}

.join-btn-container>p {
  font-size: 22px;
  color: var(--secondary-blue-color);
  margin-top: 50px;
}

.join-btn-container>.join-team-btn {
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
  padding: 12px 25px;
  border-radius: 6px;
  margin-left: 15px;
  border: 1px solid;
  border-color: var(--primary-blue-color);
  font-size: 18px;
  transition: .3s;
  cursor: pointer;
  margin-top: 30px;
}

.join-btn-container>.join-team-btn:hover {
  background-color: var(--primary-white-color);
  color: var(--primary-blue-color);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
