#footer-section {
  background-color: var(--primary-gray-color-light);
  padding: 60px;
  display: flex;
  background-image: url('../images/footer-bg.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  height: 150px;
}

.terms-and-privacy-container>.privacy-policy {
  margin-right: 15px;
}

.terms-and-privacy-container>.privacy-policy,
.terms-and-privacy-container>.terms-of-uses {
  font-size: 16px;
  color: var(--primary-black-color);
  font-weight: 700;
}

.social-media-container {
  margin-left: auto;
}

.twitter-icon {
  margin: 0 15px;
}
