#future-section {
  text-align: center;
  background-color: var(--primary-blue-color-light);
  padding: 60px 0;
  border-radius: 6px;
  margin: 120px 60px 60px;
}

.future-title {
  color: var(--primary-white-color);
}

#future-section>.get-a-demo-btn {
  background-color: var(--primary-white-color);
  border: 0;
  color: var(--secondary-blue-color);
  font-weight: 700;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,.3);
  padding: 15px 50px;
  font-size: 16px;
  transition: .3s;
  cursor: pointer;
}

#future-section>.read-use-cases-btn {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--primary-white-color);
  color: var(--primary-white-color);
  font-weight: 700;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,.3);
  padding: 15px 50px;
  font-size: 16px;
  transition: .3s;
  cursor: pointer;
  margin-left: 15px;
}


#future-section>.get-a-demo-btn:hover {
  background-color: transparent;
  color: var(--primary-white-color);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  border: 1px solid;
  border-color: var(--primary-white-color);
}

#future-section>.read-use-cases-btn:hover {
  background-color: var(--primary-white-color);
  color: var(--secondary-blue-color);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
