#header-section {
  margin: 0 140px;
}

.image-container {
  background-image: url('../images/header-img.svg');
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--primary-gray-color);
  border-radius: 6px;
  margin-top: 70px;
}

.content-container {
  display: flex;
}

.content-container>.paragraph-container {
  margin-top: 48px;
  font-size: 18px;
  margin-left: 70px;
  color: var(--secondary-blue-color);
}
