#investors-section {
  text-align: center;
  background-image: url('../images/investor-bg.svg');
  background-repeat: no-repeat;
  background-position: top;
  margin-top: -48px;
  padding: 0 140px;
}

#investors-section>.investor-title {
  padding-top: 60px;
}

.investor-container-one, .investor-container-two {
  display: flex;
}

.investor-container-two {
  margin-top: 30px;
}

.investor-three>img {
  width: 100%;
}

.investor-container-one>.investor-one,
.investor-container-two>.investor-three {
  margin-right: 30px;
}

.investor-one, .investor-two,
.investor-three, .investor-four {
  border: 1px solid;
  border-color: var(--primary-gray-color);
  background-color: var(--primary-white-color);
  align-items: center;
  width: 50%;
  border-radius: 6px;
  padding: 60px;
  box-shadow: 0 10px 40px rgba(0,0,0,.08);
}
