#menu-bas-section {
  display: flex;
  margin: 0 60px;
}

.logo-container {
  margin-right: auto;
  padding-right: 10%;
}

.why-saleswhale,
.why-product,
.why-company,
.why-contact {
  margin: 0 30px;
}

.why-saleswhale>h5,
.why-product>h5,
.why-company>h5,
.why-contact>h5 {
  font-size: 18px;
  margin-bottom: 0;
}

.why-saleswhale>ul,
.why-product>ul,
.why-company>ul,
.why-contact>ul {
  padding: 0;
}

.why-saleswhale>ul>li>a,
.why-product>ul>li>a,
.why-company>ul>li>a,
.why-contact>ul>li>a {
  padding: 0;
}

.why-contact>ul>li {
  line-height: 1.2;
}
.mt-1 {
  margin-top: 15px;
}
