.navbar-element {
  margin: 22px 140px;
}

.navbar-element, .main-menu, .main-menu>ul {
  display: flex;
  align-items: center;
}

.main-menu>ul>li>a, .navbar-element>.app-logo {
  text-decoration: none;
}

.menu-link-items>li>a {
  color: var(--secondary-blue-color);
  font-size: 18px;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

ul>li>a {
  padding: 0 25px;
}

.main-menu {
  margin-left: auto;
}

.authentication-nav {
  margin-left: 100px;
}

.authentication-nav>li>.login-btn {
  color: var(--primary-blue-color);
  border: 1px solid;
  border-color: var(--primary-blue-color);
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 18px;
}

.authentication-nav>li>.login-btn:hover {
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
  box-shadow: 0 30px 60px 0 rgba(38,59,94,.1);
}

.authentication-nav>li>.get-demo-btn {
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
  padding: 12px 25px;
  border-radius: 6px;
  margin-left: 15px;
  border: 1px solid;
  border-color: var(--primary-blue-color);
  font-size: 18px;
}

/* Effet de hover sur le button get a demo */
.authentication-nav>li>.get-demo-btn:hover {
  background-color: var(--primary-white-color);
  color: var(--primary-blue-color);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.authentication-nav>li>.login-btn,
.authentication-nav>li>.get-demo-btn {
  transition: .3s;
}

/* .menu-button>.mobile-image-container {
  background-image: url('../images/mobile-menu-icon.svg');
} */

.menu-button {
  height: 40px;
  width: 40px;
  border: 1px solid;
  border-radius: 6px;
  border-color: var(--primary-gray-color);
  margin-left: auto;
}
