#office-section {
  text-align: center;
  background-image: url('../images/office-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0 140px;
}

.office-container {
  display: flex;
}

.office-container>.office-one,
.office-container>.office-two {
  border: 1px solid;
  border-color: var(--primary-gray-color);
  background-color: var(--primary-white-color);
  align-items: center;
  width: 50%;
  border-radius: 6px;
  padding: 30px 0;
  box-shadow: 0 10px 40px rgba(0,0,0,.08);
}

.office-container>.office-one {
  margin-right: 30px;
}

.office-image-container {
  margin: auto;
  height: 80px;
  width: 80px;
  background-color: var(--primary-gray-color);
  border-radius: 50%;
  background-image: url('../images/avatar.svg');
}

.office-title, .office-address {
  color: var(--secondary-blue-color);
}

.office-title {
  font-size: 32px;
  line-height: 1;
  margin-bottom: 0;
}

.office-address {
  font-size: 18px;
  padding: 0 120px;
}
