@media (max-width: 576px) {
  .navbar-element {
    margin: 30px 15px;
  }

  .navbar-element>.main-menu {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  #header-section, #culture-section {
    margin: 0 15px;
  }

  #header-section>.image-container {
    margin-top: 30px;
  }

  #header-section>.content-container {
    display: block;
  }

  h1 {
    font-size: 32px;
  }

  #header-section>.content-container>.paragraph-container {
    margin-left: 0;
  }

  #header-section>.content-container>.paragraph-container>p,
  #culture-section>p {
    font-size: 16px;
    line-height: 24px;
  }

  #culture-section {
    text-align: left;
  }

  #culture-section>.testimonial-container {
    display: block;
  }

  #culture-section
  >.testimonial-container>.testimonial-one,
  #culture-section
  >.testimonial-container>.testimonial-two,
  #culture-section
  >.testimonial-container>.testimonial-three {
    padding: 0;
  }

  .testimonial-image-container {
    width: 56px;
    height: 56px;
    background-size: cover;
  }

  #culture-section
  >.testimonial-container>.testimonial-one>h3,
  #culture-section
  >.testimonial-container>.testimonial-two>h3,
  #culture-section
  >.testimonial-container>.testimonial-three>h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  #culture-section
  >.testimonial-container>.testimonial-one>p,
  #culture-section
  >.testimonial-container>.testimonial-two>p,
  #culture-section
  >.testimonial-container>.testimonial-three>p {
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .join-btn-container>p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 40px;
  }

  .join-btn-container>.join-team-btn {
    width: 100%;
    margin-left: 0!important;
    margin-top: 15px;
    font-weight: 700;
  }

  .join-btn-container>.join-team-btn:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  #office-section, #investors-section {
    text-align: left !important;
    padding: 40px 15px 0;
  }

  #office-section>.office-container {
    display: block;
  }

  .office-container>.office-one,
  .office-container>.office-two {
    width: 100%;
    text-align: center;
  }

  .office-address {
    font-size: 16px;
    padding: 0 40px;
  }

  .office-title {
    font-size: 16px!important;
  }

  .office-container>.office-two {
    margin-top: 40px;
  }

  .investor-container-one, .investor-container-two {
    display: block;
  }

  .investor-one, .investor-three {
    margin-bottom: 30px;
  }

  .investor-one>img,
  .investor-two>img,
  .investor-three>img,
  .investor-four>img {
    width: 100%;
  }

  .investor-container-one>.investor-one,
  .investor-container-one>.investor-two,
  .investor-container-two>.investor-three,
  .investor-container-two>.investor-four {
    margin-right: 0;
    width: 65%;
  }
  #investors-section {
    background-image: url('../images/mobile-bg.svg');
    background-position: unset!important;
    background-size: contain;
    margin-top: 0;
  }

  #office-section {
    background-size: initial!important;
  }

  #future-section {
    margin: 30px 0;
    border-radius: 0;
    background-image: url('../images/mobile-future-bg.svg');
    background-color: initial;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #future-section>.get-a-demo-btn {
    margin-bottom: 20px;
  }

  #future-section>.read-use-cases-btn {
    margin-left: 0;
  }

  #future-section>.get-a-demo-btn, #future-section>.read-use-cases-btn {
    width: 90%;
  }

  .mobile-only>.menu-bas-content>.why-saleswhale,
  .mobile-only>.menu-bas-content>.why-product,
  .mobile-only>.menu-bas-content>.why-company,
  .mobile-only>.menu-bas-content>.why-contact {
    margin: 0;
  }

  #menu-bas-section {
    margin: 0;
  }

  .why-saleswhale, .why-product, .why-company, .why-contact {
    margin: 0;
  }

  .d-flex {
    display: flex;
  }

  #menu-bas-section>.mobile-only {
    margin-left: 30px;
  }

  .why-saleswhale {
    margin-right: 30px;
  }

  .why-saleswhale a {
    font-size: 14px;
  }

  .why-company {
    margin-right: auto;
  }

  #footer-section {
    display: block;
    text-align: center;
    background-size: inherit;
  }
}


@media (min-width: 577px) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}
