body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.75rem;
  margin: 0;
}

h1 {
  font-size: 58px;
  color: var(--secondary-blue-color);
  line-height: initial;
}

a {
  color: var(--secondary-blue-color);
  font-size: 15px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* .main-app-container {
  margin: 0 140px;
} */
