/* declaration des variables de styles reutilisables */
:root {
  --primary-blue-color: #0688fa;
  --primary-blue-color-light: #329dfa;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-gray-color: #e6e6e6;
  --primary-gray-color-light: #f4f4f4;

  --secondary-blue-color: #002240;
  --secondary-gray-color: #537089;
}
